project/flows/_v4_flow.json
[
    {
        "id": "997a0d93683d58e7",
        "type": "comment",
        "z": "09944443c13cfba4",
        "name": "Estado da Bomba",
        "info": "",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "mqtt_estado",
        "type": "mqtt in",
        "z": "09944443c13cfba4",
        "name": "Estado Bomba",
        "topic": "IPB/IoT/PW2/TurnoD/Group2/EstadoRega",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12da53346277876d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "ui_estado"
            ]
        ]
    },
    {
        "id": "ui_estado",
        "type": "ui_text",
        "z": "09944443c13cfba4",
        "group": "grp1",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Estado Atual",
        "label": "Estado da Bomba",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "14",
        "color": "#000000",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "12da53346277876d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp1",
        "type": "ui_group",
        "name": "Dashboard Rega",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Sistema de Rega",
        "icon": "dashboard",
        "order": 1
    }
]