project/flows/_v6_flow.json
[
    {
        "id": "09944443c13cfba4",
        "type": "tab",
        "label": "Pratical Work",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c883103e096482b",
        "type": "comment",
        "z": "09944443c13cfba4",
        "name": "Subscrever ao Tópico da Temperatura",
        "info": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt_temp",
        "type": "mqtt in",
        "z": "09944443c13cfba4",
        "name": "Temperatura",
        "topic": "IPB/IoT/PW2/TurnoD/Group2/Temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12da53346277876d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "ui_temp"
            ]
        ]
    },
    {
        "id": "ui_temp",
        "type": "ui_gauge",
        "z": "09944443c13cfba4",
        "name": "Temperatura (ºC)",
        "group": "grp1",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-20",
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_hum",
        "type": "mqtt in",
        "z": "09944443c13cfba4",
        "name": "Humidade Ar",
        "topic": "IPB/IoT/PW2/TurnoD/Group2/HumidadeAr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12da53346277876d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "ui_hum"
            ]
        ]
    },
    {
        "id": "ui_hum",
        "type": "ui_gauge",
        "z": "09944443c13cfba4",
        "name": "Humidade Ar (%)",
        "group": "grp1",
        "order": 2,
        "width": 6,
        "height": "4",
        "gtype": "gage",
        "title": "Humidade do Ar",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "mqtt_solo",
        "type": "mqtt in",
        "z": "09944443c13cfba4",
        "name": "Humidade Solo",
        "topic": "IPB/IoT/PW2/TurnoD/Group2/HumidadeSolo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12da53346277876d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "ui_solo",
                "decisao_rega"
            ]
        ]
    },
    {
        "id": "ui_solo",
        "type": "ui_gauge",
        "z": "09944443c13cfba4",
        "name": "Humidade Solo (%)",
        "group": "grp1",
        "order": 3,
        "width": 6,
        "height": "4",
        "gtype": "gage",
        "title": "Humidade do Solo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "ca17082be69fda1f",
        "type": "comment",
        "z": "09944443c13cfba4",
        "name": "Subscrever ao Tópico da Humidade",
        "info": "",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt_estado",
        "type": "mqtt in",
        "z": "09944443c13cfba4",
        "name": "Estado Bomba",
        "topic": "IPB/IoT/PW2/TurnoD/Group2/EstadoRega",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12da53346277876d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 760,
        "wires": [
            [
                "ui_estado"
            ]
        ]
    },
    {
        "id": "997a0d93683d58e7",
        "type": "comment",
        "z": "09944443c13cfba4",
        "name": "Estado da Bomba",
        "info": "",
        "x": 290,
        "y": 700,
        "wires": []
    },
    {
        "id": "decisao_rega",
        "type": "function",
        "z": "09944443c13cfba4",
        "name": "Decisão Rega Automática",
        "func": "var solo = parseInt(msg.payload);\nif (solo < 30) {\n    msg.payload = \"REGAR\";\n} else {\n    msg.payload = \"NAO_REGAR\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "mqtt_out_rega"
            ]
        ]
    },
    {
        "id": "ui_button",
        "type": "ui_button",
        "z": "09944443c13cfba4",
        "name": "Botão Manual",
        "group": "grp1",
        "order": 4,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "REGAR MANUAL",
        "tooltip": "Força a rega manualmente",
        "color": "white",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "REGAR",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "mqtt_out_rega"
            ]
        ]
    },
    {
        "id": "mqtt_out_rega",
        "type": "mqtt out",
        "z": "09944443c13cfba4",
        "name": "Comando Rega",
        "topic": "IPB/IoT/PW2/TurnoD/Group2/ComandoRega",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12da53346277876d",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "ui_estado",
        "type": "ui_text",
        "z": "09944443c13cfba4",
        "group": "grp1",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Estado Atual",
        "label": "Estado da Bomba",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "14",
        "color": "#000000",
        "x": 530,
        "y": 760,
        "wires": []
    },
    {
        "id": "0feb322a789be7e8",
        "type": "comment",
        "z": "09944443c13cfba4",
        "name": "Funcionalidade da Bomba",
        "info": "",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "12da53346277876d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp1",
        "type": "ui_group",
        "name": "Dashboard Rega",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Sistema de Rega",
        "icon": "dashboard",
        "order": 1
    }
]